# Compiled Object files and python ciles
*.slo
*.lo
*.o
*.obj
*.pyc

# profiling files and core files
*.nvprof
core

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Test log files
*.testlog

# emacs saves
[#]*[#]
.[#]*
*~

# [ecg]tag files
TAGS
tags
GTAGS
GRTAGS
GPATH
GSYMS

# python compiled sources
*.pyc

# Make dependencies
.depend.mk

# some weird thing that MacOs creates.
*.dSYM

# Windows executable, symbol and some weird files.
*.exe
*.pdb
*.exp
*.manifest


# /egs/
/egs/*/v*/mfcc
/egs/*/v*/plp
/egs/*/v*/exp
/egs/*/v*/data
